node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log


# # Docker
# *.log
# docker-compose.override.yml

# docker-compose.yml
# Dockerfile
# .gitignore

# uploads/

# package.json
# package-lock.json