* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.board{
  margin-top: 5%;
}
.board-font {
  font-size: 36px;
  flex-shrink: 0;
  margin-top: 20px;
}

.list > th{
  border-bottom: 2px solid black;
}



table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #ddd;
  text-align: center;
  padding: 10px;
}
table.board {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  table-layout: fixed; /* 너비 고정 */
}

th:nth-child(1), td:nth-child(1) { width: 10%; } /* 번호 */
th:nth-child(2), td:nth-child(2) { width: 23%; } /* 제목 */
th:nth-child(3), td:nth-child(3) { width: 20%; } /* 작성자 */
th:nth-child(4), td:nth-child(4) { width: 20%; } /* 날짜 */
th:nth-child(5), td:nth-child(5) { width: 15%; } /* 조회수 */


.write-btn {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  padding: 12px 0;
}

.write-btn button {
  padding: 10px 40px;
  font-size: 16px;
  border: none;
  border-radius: 7px;
  background-color: #ddd;
  cursor: pointer;
}
